// CONFIGURATION
$grid-columns						:	null;	//DEFAULT IS 3
$grid-rows							:	null;	//DEFAULT IS 3
$import_controlbar_default_styles	:	true;	//DEFAULT IS true


// IMPORT ALL MIXINS
@import "mixins/autogrid";
@import "mixins/linear-gradient";

// IMPORT ALL STYLES
@import "playercontrol";
@import "elements/video";
@import "elements/div";
//@import "elements/input";
@import "elements/span";

// IMPORT ICON FONT
@import "jiavp_icons";

//GENERAL MULTI-ELEMENT STYLES
.player_control{
	padding: 0px 0.9% 0px 0.9%;
	border: none;
	outline: none;
	&:hover{
		cursor: pointer;
	}
}
