@font-face {
  font-family: "jiavp_icons";
  src: url("../font/jiavp_icons.eot?33976382");
  src: url("../font/jiavp_icons.eot?33976382#iefix") format("embedded-opentype"),
       url("../font/jiavp_icons.woff2?33976382") format("woff2"),
       url("../font/jiavp_icons.woff?33976382") format("woff"),
       url("../font/jiavp_icons.ttf?33976382") format("truetype"),
       url("../font/jiavp_icons.svg?33976382#jiavp_icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "jiavp_icons";
    src: url("../font/jiavp_icons.svg?33976382#jiavp_icons") format("svg");
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "jiavp_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-backward-solid:before { content: "\e800"; }
.icon-compress-alt-solid:before { content: "\e801"; }
.icon-expand-alt-solid:before { content: "\e802"; }
.icon-fast-backward-solid:before { content: "\e803"; }
.icon-fast-forward-solid:before { content: "\e804"; }
.icon-forward-solid:before { content: "\e805"; }
.icon-pause-solid:before { content: "\e806"; }
.icon-play-circle-regular:before { content: "\e807"; }
.icon-play-solid:before { content: "\e808"; }
.icon-volume-down-solid:before { content: "\e809"; }
.icon-volume-mute-solid:before { content: "\e80a"; }
.icon-volume-solid:before { content: "\e80b"; }
.icon-volume-stash-solid:before { content: "\e80c"; }
.icon-volume-up-solid:before { content: "\e80d"; }
.icon-step-backward-solid:before { content: "\e80e"; }
.icon-step-forward-solid:before { content: "\e80f"; }
.icon-stop-solid:before { content: "\e810"; }