$import_controlbar_default_styles : true !default;

@if($import_controlbar_default_styles == true){
	div{
		//PLAYER CONTROL
		&.player_control_parent{
			background: rgba(248, 248, 248, 0.8);
			display: flex;
			justify-content: center;
			padding: 5px;
			//text-align: center;
			z-index: 10;
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
			right: 0;
			@media (prefers-color-scheme: dark) {
				background: rgba(48, 48, 48, 0.8);
			}
	/*
			margin-top: -20px;
			grid-column-start: 1;
			grid-column-end: $grid-columns + 1;
			grid-row-start: $grid-rows + 1;
			grid-row-end: $grid-rows + 1;
	*/
		}
		&.player_fullscreen{
			//width: 100%!important;
			height: 100%!important;
			margin-left: auto;
			margin-right: auto;
		}
	}
}