//DEFAULTS IF IN CONFIG NO VALUE HAS BEEN SET
$columns		:	3		!default;
$rows			:	3		!default;

//USAGE AS MIXIN PROVIDS EASY REUSE IF WANTED
@mixin auto-grid($columns, $rows){

	//	PREPARE FINAL OVERLAY-CLASS
	$overlay_class	: 	'overlay';

	//CALCULATE WIDTH BASED ON SET COLUMNS AND ROWS
	$single_column	:	100 / $columns;
	$gtc			:	$single_column;
	@for $i from 2 through $columns{
		$gtc : $gtc + $single_column;
	}

	$single_row	:	100 / $rows;
	$gtr			:	$single_row;
	@for $i from 2 through $rows{
		$gtr : $gtr + $single_row;
	}

	//CREATE GRID-CLASS FOR PARENT CONTAINER
	&.jiavp_container{
		display: grid;
		grid-template-columns: $gtc;
		grid-template-rows: $gtr;
	}

	//PREPARE INCREMENTOR-VARIABLES FOR USAGE IN LOOP
	$col_incr : 0;
	$row_incr : 1;

// 	OVERLAYS-STYLING IN LOOP FOR ALL EXPECTED ELEMENTS
	@for $i from 1 through $columns * $rows{

		// CREATE VARIABLES USED FOR FINAL STYLING - ZERO-VALUE WILL BE OVERWRITTEN AND EXISTS ONLY TO PREVENT SYNTAX-ERRORS
		$col : 0;
		$row : 0;

		// STYLING ACCORDING TO ROWS
		@if ($i <= $columns) {							//STYLING FOR FIRST ROW
			$col 	: 	$i; 							//IN FIRST ROW START IS ALWAYS = ITERATOR, END IS ALWAYS ITERATOR+1
			$row	:	1; 								//IN FIRST ROW START IS ALWAYS 1, END IS ALWAYS 2
		} @else if($i > $columns){						//STYLING FOR SECOND AND ALL FOLLOWING ROWS
			$col 	: $i - ($columns * $col_incr);		//AS COLUMN-STYLING IS EQUAL IN EACH COLUMN, BUT THE ITERATOR STILL INCREMENTS, A COORESPONDING VALUE MUST BE SUBSTRACTED TO KEEP THE VALUES IN A COLUMN EQUAL
			$row  	: $row_incr;						//AS STILL ALL ROW-VALUES IN A ROW ARE EQUAL NOW THE ROW-INCRMENTOR IS USED, AS IT INCREMENTS WHEN NEW ROW IS REACHED
		}

		//IF ROW-END IS REACHED, INCREMENTOR-VARIABLES WILL BE INCREMENTED BY 1
		@if $i % $columns == 0 {
			$col_incr	: $col_incr + 1;
			$row_incr	: $row_incr + 1;
		}
//		CREATE ID-BASED STYLING FOR EACH OVERLAY-CELL, AS STYLING IS ORINETED AT IMAGINERY GRID-LINES, START- AND END-VALUE OF TARGETED LINE FOR BOTH CLOLUMN AND ROW MUST BE SET. AS THIS OVERLAY CELLS SHALL EXIST ONLY FROM ONE LINE TO THE NEXT, 1 FOR THE -END-RULE IS ADDED EVERY TIME
		&##{$overlay_class}_#{$i}{
			grid-column-start	:	$col;
			grid-column-end		:	$col+1;
			grid-row-start		:	$row;
			grid-row-end		:	$row+1;
		}
	}
}