@mixin linearGradient($top, $bottom, $topstop, $botstop){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top $topstop, $bottom $botstop); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop($topstop,$top), color-stop($botstop,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top $topstop,$bottom $botstop); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top $topstop,$bottom $botstop); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top $topstop,$bottom $botstop); /* IE10+ */
    background: linear-gradient(to bottom,  $top $topstop,$bottom $botstop); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}