
// IF NULL IS SET IN CONFIG, THEN THIS DEFAULTS WILL BE APPLIED TO AUTO-GRID
$grid-columns	:	3	!default;
$grid-rows		:	3	!default;


div{
	//INITIALIZE AUTO-GRID–STYLING
	@include auto-grid($grid-columns, $grid-rows);
	//GENERAL STYLING FOR AUTO-GRID–CELLS
	&.jiavp_container{
		position: relative;
	}
	&.overlay{
		pointer-events: none;
		position: relative;
	}
	//GENERAL STYLING FOR AUTO-GRID–VESSELS
	&.vessel{
		position: absolute;
		pointer-events: auto;
	}
	&.temp_container{
		width: 100%;
		height: 100%;
		position: absolute;
	}
	&#player{
		background-color: rgba(255, 255, 255, 0);
	}
}