input{
	&[type=range]{
		&.slider{
			appearance: none;
			width: 100%;
			margin: 6px 0;
			&:focus{
				outline: none;
			}
		}
	}
}




input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 0.5px #000000, 0px 0px 0px #0d0d0d;
  background: #484d4d;
  border-radius: 3px;
  border: 0px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #670000, 0px 0px 0px #810000;
  border: 0px solid #4e88ff;
  height: 18px;
  width: 30px;
  border-radius: 3px;
  background: #4e88ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #545a5a;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 0.5px #000000, 0px 0px 0px #0d0d0d;
  background: #484d4d;
  border-radius: 3px;
  border: 0px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px #670000, 0px 0px 0px #810000;
  border: 0px solid #4e88ff;
  height: 18px;
  width: 30px;
  border-radius: 3px;
  background: #4e88ff;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #3c4040;
  border: 0px solid #010101;
  border-radius: 6px;
  box-shadow: 0px 0px 0.5px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: #484d4d;
  border: 0px solid #010101;
  border-radius: 6px;
  box-shadow: 0px 0px 0.5px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 0px #670000, 0px 0px 0px #810000;
  border: 0px solid #4e88ff;
  height: 18px;
  width: 30px;
  border-radius: 3px;
  background: #4e88ff;
  cursor: pointer;
  height: 6px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #484d4d;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #545a5a;
}