//icons by fontawesome - https://fontawesome.com/license

span{
	&.player_control {
		color: black;
		@media (prefers-color-scheme: dark) {
			color: whitesmoke;
		}
	}
	&.startbutton {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		font-size: 1000%;
		justify-content: center;
		&:hover {
			cursor: pointer;
		}
	}
}
