video{
	&.jiavp_player{
		width: inherit;
		height: inherit;
		z-index: -1;
		grid-column-start:1;
		grid-column-end:5;
		grid-row-start:1;
		grid-row-end:4;
		position: absolute;
	}
	&.video_fullscreen{
		height: 100vh;
	}
}